@use "settings" as *;

html, body {
	overflow: hidden;
}

html {
	font-size: 62.5%; //make the font-size rem base 10
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
	background: white;
	margin-top: 65px;
}

#app {
	overflow-y: auto;
	height: 100%;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

