/* Card */
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-clip: padding-box;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 1em;
    background-color: #fdfcfc;
    overflow: hidden;
    /*box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);*/
    word-wrap: break-word;
    position: relative;
    z-index: 1;

    /* add margin around left and right */
    margin-left: 1em;
    margin-right: 1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transform: scale(1.05);
    transition: box-shadow 0.2s ease,
                transform 0.2s ease,
                z-index 0s 0s ease;
}


/** Card options **/
.card.flat {
    box-shadow: 0 0 0 0, 0 0 0 0 !important;
    transform: none !important;
    border: 1px solid rgba(160, 160, 160, 0.2);
}

.card.flat-em {
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    //margin-bottom: 24px;
    transform: none !important
}

.card.glass-morph{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    // height: 8vw;
    // max-height: 160px;
    // min-height: 140px;
    // min-width: 180px;
    position: relative;
    transition: transform 250ms;
    // width: calc(100% / 7);
}

.card.blur-out {
    background: #ECF1F524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    box-shadow: 0px 20px 53px -30px rgb(95 102 173 / 57%);
    border-radius: 10px;
    //height: 100px;
}

/** Card content **/

.card .card-detail{
    display: flex;
    justify-content: space-between;
    align-items: center
}


.card-image {
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card .card-content{
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

/** Card Background **/

.bg-dracula {
    background-color: hsl(223, 14%, 20%) !important;
}

.bg-dracula p,
.bg-dracula h1,
.bg-dracula h2,
.bg-dracula h3,
.bg-dracula h4,
.bg-dracula h5,
.bg-dracula h6,
.bg-dracula button,
.bg-dracula span {
    color: whitesmoke;
}

.bg-photo{
    max-height: 600px;
    min-height: 460px;
    min-width: 260px;
    height: 40vw;
    transition: transform 250ms;
    width: 40px;
    color: whitesmoke;
}

.bg-photo-content{
    background: linear-gradient(to top, rgba(57, 73, 171, 0.4), transparent, rgba(0, 0, 0, 0.4));
    border-radius: 10px;
    height: 100%;
    position: relative;
    z-index: 2;
}

.bg-photo-content *{
    color: whitesmoke
}

.bg-photo-content button {
    text-align: center;
    position: absolute;
    right: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    bottom: 0px;
    margin: 30px
}

.bg-photo-content .card-info{
     display: flex;
     flex-direction: column;
     gap: 5px;
     padding: 30px;
}

.bg-photo-content .card-info span {
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(black, 0.1);
}

.bg-photo-wrap {
    border-radius: 10px;
    height: 100%;
    border-radius: 5px;
    transition: transform 250ms;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-aqua {
    background: #79aecf;
}


.bg-glass-opaque {
    background: hsla(0, 0%, 100%, 0.25);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid hsla(0, 0%, 100%, 0.25);
}

.bg-blue-glass {
    background-color: rgb(1 2 3 / 40%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.bg-element{
    background: linear-gradient(#80FFDB, #5390D9);
}
